openapi: 3.0.0
info:
  title: N-INE Public API
  version: 1.0.8
  description: N-INE クライアント向け公開API
servers:
  - url: https://api.app.n-ine.com/v1
paths:
  /calendar-events:
    post:
      summary: カレンダーイベントを作成
      description: |
        カレンダーイベントを作成します。

        **終日イベントの場合の注意点:**
        - `isAllDay: true`の場合、`startAt`の時刻部分は自動的に00:00:00 UTCに正規化されます
        - `endAt`は無視され、常にnullとして保存されます
      operationId: createCalendarEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - miniappId
                - genreId
                - title
                - visibleFrom
                - isAllDay
                - startAt
              properties:
                miniappId:
                  type: string
                  description: ミニアプリID
                  example: "01HQZX1234567890ABCDEFGHIJ"
                genreId:
                  type: string
                  description: ジャンルID
                  example: "01HQZY1234567890ABCDEFGHIJ"
                title:
                  type: string
                  description: イベントタイトル
                  example: "重要なイベント"
                url:
                  type: string
                  nullable: true
                  description: イベントURL
                  example: "https://example.com/event"
                visibleFrom:
                  type: string
                  format: date-time
                  description: 表示開始日時（ISO 8601形式）
                  example: "2025-12-01T00:00:00Z"
                isAllDay:
                  type: boolean
                  description: 終日イベントかどうか
                  example: false
                startAt:
                  type: string
                  format: date-time
                  description: |
                    イベント開始日時（ISO 8601形式）
                    終日イベントの場合、時刻部分は自動的に00:00:00 UTCに正規化されます
                  example: "2025-12-25T10:00:00Z"
                endAt:
                  type: string
                  format: date-time
                  nullable: true
                  description: |
                    イベント終了日時（ISO 8601形式）
                    終日イベントの場合、この値は無視され、常にnullとして保存されます
                  example: "2025-12-25T12:00:00Z"
            examples:
              normalEvent:
                summary: 通常のイベント
                value:
                  miniappId: "01HQZX1234567890ABCDEFGHIJ"
                  genreId: "01HQZY1234567890ABCDEFGHIJ"
                  title: "重要なイベント"
                  url: "https://example.com/event"
                  visibleFrom: "2025-12-01T00:00:00Z"
                  isAllDay: false
                  startAt: "2025-12-25T10:00:00Z"
                  endAt: "2025-12-25T12:00:00Z"
              allDayEvent:
                summary: 終日イベント
                value:
                  miniappId: "01HQZX1234567890ABCDEFGHIJ"
                  genreId: "01HQZY1234567890ABCDEFGHIJ"
                  title: "終日イベント"
                  visibleFrom: "2025-12-01T00:00:00Z"
                  isAllDay: true
                  startAt: "2025-12-25T14:30:00Z"
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  calendarEvent:
                    type: object
                    properties:
                      id:
                        type: string
                        example: "01HQZZ1234567890ABCDEFGHIJ"
                      miniappId:
                        type: string
                        example: "01HQZX1234567890ABCDEFGHIJ"
                      genreId:
                        type: string
                        example: "01HQZY1234567890ABCDEFGHIJ"
                      title:
                        type: string
                        example: "重要なイベント"
                      url:
                        type: string
                        nullable: true
                        example: "https://example.com/event"
                      visibleFrom:
                        type: string
                        format: date-time
                        example: "2025-12-01T00:00:00.000Z"
                      isAllDay:
                        type: boolean
                        example: false
                      startAt:
                        type: string
                        format: date-time
                        example: "2025-12-25T10:00:00.000Z"
                      endAt:
                        type: string
                        format: date-time
                        nullable: true
                        example: "2025-12-25T12:00:00.000Z"
                      createdAt:
                        type: string
                        format: date-time
                        example: "2025-11-30T05:30:00.000Z"
                      updatedAt:
                        type: string
                        format: date-time
                        example: "2025-11-30T05:30:00.000Z"
        '400':
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Bad Request"
                  message:
                    type: string
                    example: "Invalid request body"
                  statusCode:
                    type: integer
                    example: 400
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Unauthorized"
                  message:
                    type: string
                    example: "Invalid API Key"
                  statusCode:
                    type: integer
                    example: 401
        '404':
          description: リソースが見つからない
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Not Found"
                  message:
                    type: string
                    example: "Miniapp not found or you do not have permission to access it"
                  statusCode:
                    type: integer
                    example: 404
      security:
        - ApiKeyAuth: []

  /multicasts:
    post:
      summary: マルチキャスト配信を作成
      description: |
        LINEマルチキャスト配信を作成します。

        **重要な制限事項:**
        - LINE Messaging API制限により、1回のリクエストで最大5件のメッセージまで送信可能です
        - ブロードキャスト配信でない場合、`targetingSettings`は必須です
        - `targetingSettings.includeTargetType`が`TAGS`の場合、`includeTagIds`は必須です
      operationId: createMulticast
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - crmAccountId
                - isBroadcast
                - messages
              properties:
                crmAccountId:
                  type: string
                  description: CRMアカウントID
                  example: "01HQZW1234567890ABCDEFGHIJ"
                isBroadcast:
                  type: boolean
                  description: ブロードキャスト配信かどうか
                  example: true
                scheduledAt:
                  type: string
                  format: date-time
                  nullable: true
                  description: 配信予約日時（ISO 8601形式）
                  example: "2025-12-26T12:00:00Z"
                customAggregationUnit:
                  type: string
                  nullable: true
                  description: カスタム集計単位
                  example: "campaign-2025-12"
                targetingSettings:
                  type: object
                  nullable: true
                  description: ブロードキャスト配信でない場合は必須
                  required:
                    - includeTargetType
                    - includeTagConditionType
                    - excludeTagConditionType
                  properties:
                    includeTargetType:
                      type: string
                      enum: [TAGS, ALL_FRIENDS]
                      description: 配信対象タイプ
                      example: "TAGS"
                    includeTagConditionType:
                      type: string
                      enum: [AND, OR]
                      description: タグ絞り込み条件の論理演算子
                      example: "AND"
                    excludeTagConditionType:
                      type: string
                      enum: [AND, OR]
                      description: タグ除外条件の論理演算子
                      example: "OR"
                includeTagIds:
                  type: array
                  items:
                    type: string
                  description: 配信対象タグID（includeTargetType='TAGS'の場合は必須）
                  example: ["01HQZT1234567890ABCDEFGHIJ", "01HQZU1234567890ABCDEFGHIJ"]
                excludeTagIds:
                  type: array
                  items:
                    type: string
                  description: 除外対象タグID
                  example: ["01HQZV1234567890ABCDEFGHIJ"]
                messages:
                  type: array
                  minItems: 1
                  maxItems: 5
                  description: 配信するメッセージ（最低1件、最大5件）
                  items:
                    type: object
                    required:
                      - messageType
                      - messageJson
                    properties:
                      messageType:
                        type: string
                        enum: [TEXT, STICKER, IMAGE, VIDEO, AUDIO, FILE, LOCATION, IMAGEMAP, TEMPLATE, FLEX]
                        description: メッセージタイプ
                        example: "TEXT"
                      messageJson:
                        type: object
                        description: LINE Messaging APIのメッセージオブジェクト
                        example:
                          type: "text"
                          text: "こんにちは！"
            examples:
              broadcastMessage:
                summary: ブロードキャスト配信
                value:
                  crmAccountId: "01HQZW1234567890ABCDEFGHIJ"
                  isBroadcast: true
                  messages:
                    - messageType: "TEXT"
                      messageJson:
                        type: "text"
                        text: "こんにちは！これはブロードキャストメッセージです。"
              tagTargetedMessage:
                summary: タグによる絞り込み配信（予約配信）
                value:
                  crmAccountId: "01HQZW1234567890ABCDEFGHIJ"
                  isBroadcast: false
                  scheduledAt: "2025-12-26T12:00:00Z"
                  targetingSettings:
                    includeTargetType: "TAGS"
                    includeTagConditionType: "AND"
                    excludeTagConditionType: "OR"
                  includeTagIds: ["01HQZT1234567890ABCDEFGHIJ", "01HQZU1234567890ABCDEFGHIJ"]
                  excludeTagIds: ["01HQZV1234567890ABCDEFGHIJ"]
                  customAggregationUnit: "campaign-2025-12"
                  messages:
                    - messageType: "TEXT"
                      messageJson:
                        type: "text"
                        text: "特別なお知らせです！"
                    - messageType: "IMAGE"
                      messageJson:
                        type: "image"
                        originalContentUrl: "https://example.com/image.jpg"
                        previewImageUrl: "https://example.com/preview.jpg"
              flexMessage:
                summary: Flexメッセージの配信
                value:
                  crmAccountId: "01HQZW1234567890ABCDEFGHIJ"
                  isBroadcast: true
                  messages:
                    - messageType: "FLEX"
                      messageJson:
                        type: "flex"
                        altText: "新商品のご案内"
                        contents:
                          type: "bubble"
                          body:
                            type: "box"
                            layout: "vertical"
                            contents:
                              - type: "text"
                                text: "新商品"
                                weight: "bold"
                                size: "xl"
                              - type: "text"
                                text: "期間限定販売中！"
                                size: "sm"
                                color: "#999999"
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  multicast:
                    type: object
                    properties:
                      id:
                        type: string
                        example: "01HR001234567890ABCDEFGHIJ"
                      crmAccountId:
                        type: string
                        example: "01HQZW1234567890ABCDEFGHIJ"
                      status:
                        type: string
                        enum: [PENDING, CALCULATING, UNCONFIRMED, SCHEDULED, WAITING, SENDING, COMPLETED, CANCELED, FAILED]
                        description: |
                          配信ステータス:
                          - PENDING: 配信待ち（作成直後）
                          - CALCULATING: 配信対象者を計算中
                          - UNCONFIRMED: 配信対象者の確認待ち
                          - SCHEDULED: 配信予約済み
                          - WAITING: 配信開始待ち
                          - SENDING: 配信中
                          - COMPLETED: 配信完了
                          - CANCELED: キャンセル済み
                          - FAILED: 配信失敗
                        example: "PENDING"
                      isBroadcast:
                        type: boolean
                        example: false
                      scheduledAt:
                        type: string
                        format: date-time
                        nullable: true
                        example: "2025-12-26T12:00:00.000Z"
                      customAggregationUnit:
                        type: string
                        nullable: true
                        example: "campaign-2025-12"
                      createdAt:
                        type: string
                        format: date-time
                        example: "2025-12-26T05:30:00.000Z"
                      updatedAt:
                        type: string
                        format: date-time
                        example: "2025-12-26T05:30:00.000Z"
        '400':
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Bad Request"
                  message:
                    type: string
                    example: "At least one message is required"
                  statusCode:
                    type: integer
                    example: 400
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Unauthorized"
                  message:
                    type: string
                    example: "Invalid API Key"
                  statusCode:
                    type: integer
                    example: 401
        '404':
          description: CRMアカウントが見つからない
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Not Found"
                  message:
                    type: string
                    example: "CRM account not found or you do not have permission to access it"
                  statusCode:
                    type: integer
                    example: 404
      security:
        - ApiKeyAuth: []

  /tags:
    get:
      summary: 全てのタグ情報を取得
      description: 全てのタグ情報を取得します。
      operationId: getAllTags
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
            minimum: 1
            description: 1ページあたりの取得件数。デフォルトは100件。
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
            description: 取得開始位置。デフォルトは0（最初のアイテムから取得）。
      responses:
        '200':
          description: 成功した操作
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  tags:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: タグのID
                        crmAccountId:
                          type: string
                          description: タグが属するCRMアカウントのID
                        name:
                          type: string
                          description: タグの名前
                    description: 全てのタグのリスト
                  totalCount:
                    type: integer
                    description: 取得可能なタグの総数。
                    example: 100
                  limit:
                    type: integer
                    description: リクエストで指定された1ページあたりの取得件数。
                    example: 100
                  offset:
                    type: integer
                    description: リクエストで指定された取得開始位置。
                    example: 0
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Unauthorized"
                  message:
                    type: string
                    example: "Invalid API Key"
                  statusCode:
                    type: integer
                    example: 401
      security:
        - ApiKeyAuth: []

  /line-user-tags/{lineUserId}:
    get:
      summary: LINEユーザーに紐づくタグ情報を取得
      description: 指定したLINEユーザーIDに紐づくタグ情報を取得します。
      operationId: getLineUserTags
      parameters:
        - name: lineUserId
          in: path
          required: true
          schema:
            type: string
          description: タグ情報を取得する対象のLINEユーザーID。
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
            minimum: 1
            description: 1ページあたりの取得件数。デフォルトは100件。
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
            description: 取得開始位置。デフォルトは0（最初のアイテムから取得）。
      responses:
        '200':
          description: 成功した操作
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  lineUserId:
                    type: string
                    description: タグ情報を取得したLINEユーザーのID
                  tags:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: タグのID
                        crmAccountId:
                          type: string
                          description: タグが属するCRMアカウントのID
                        name:
                          type: string
                          description: タグの名前
                    description: 指定されたLINEユーザーに紐づくタグのリスト
                  totalCount:
                    type: integer
                    description: 取得可能なタグの総数。
                    example: 100
                  limit:
                    type: integer
                    description: リクエストで指定された1ページあたりの取得件数。
                    example: 100
                  offset:
                    type: integer
                    description: リクエストで指定された取得開始位置。
                    example: 0
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Unauthorized"
                  message:
                    type: string
                    example: "Invalid API Key"
                  statusCode:
                    type: integer
                    example: 401
      security:
        - ApiKeyAuth: []

  /genres/{miniappId}:
    get:
      summary: ミニアプリに紐づくジャンル一覧を取得
      description: 指定したミニアプリIDに紐づくジャンルグループとジャンルの階層構造を取得します。
      operationId: getGenres
      parameters:
        - name: miniappId
          in: path
          required: true
          schema:
            type: string
          description: ジャンル情報を取得する対象のミニアプリID
          example: "01HQZX1234567890ABCDEFGHIJ"
      responses:
        '200':
          description: 成功した操作
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  genreGroups:
                    type: array
                    description: ジャンルグループとその配下のジャンルのリスト
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: ジャンルグループID
                          example: "01HQZY1234567890ABCDEFGHIJ"
                        miniappId:
                          type: string
                          description: ミニアプリID
                          example: "01HQZX1234567890ABCDEFGHIJ"
                        settingName:
                          type: string
                          description: ジャンルグループ設定名
                          example: "カテゴリー"
                        description:
                          type: string
                          nullable: true
                          description: ジャンルグループの説明
                          example: "メインカテゴリーの設定"
                        order:
                          type: integer
                          description: 表示順序
                          example: 1
                        genres:
                          type: array
                          description: ジャンルグループに属するジャンルのリスト
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: ジャンルID
                                example: "01HQZZ1234567890ABCDEFGHIJ"
                              genreGroupId:
                                type: string
                                description: 親ジャンルグループID
                                example: "01HQZY1234567890ABCDEFGHIJ"
                              tagId:
                                type: string
                                nullable: true
                                description: 紐づくタグID
                                example: "01HR001234567890ABCDEFGHIJ"
                              name:
                                type: string
                                description: ジャンル名
                                example: "アクション"
                              order:
                                type: integer
                                description: ジャンルグループ内での表示順序
                                example: 1
                              colorTheme:
                                type: string
                                nullable: true
                                description: カラーテーマ
                                example: "BLUE"
        '400':
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Bad Request"
                  message:
                    type: string
                    example: "Invalid path parameters"
                  statusCode:
                    type: integer
                    example: 400
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Unauthorized"
                  message:
                    type: string
                    example: "Invalid API Key"
                  statusCode:
                    type: integer
                    example: 401
        '404':
          description: ミニアプリが見つからない
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Not Found"
                  message:
                    type: string
                    example: "Miniapp not found or you do not have permission to access it"
                  statusCode:
                    type: integer
                    example: 404
      security:
        - ApiKeyAuth: []

  /line-user-tags:
    post:
      summary: LINEユーザーにタグを付与
      description: LINEユーザーにタグを付与します。
      operationId: tagLineUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                lineUserId:
                  type: string
                  description: |
                    タグを削除するLINEユーザーのID。

                    ※lineUserIdまたはlineUserIdsのいずれか必須
                lineUserIds:
                  type: array
                  items:
                    type: string
                  minItems: 1
                  maxItems: 100
                  description: タグを付与するLINEユーザーのIDのリスト。最大100件まで指定可能。
                tagIds:
                  type: array
                  items:
                    type: string
                  minItems: 1
                  maxItems: 100
                  description: LINEユーザーに付与するタグIDのリスト。最大100件まで指定可能。
              required:
                - tagIds
              example:
                lineUserId: "U1234567890abcdef1234567890abcdef"
                tagIds: ["01J7MMT6VRNWSP1F9VTARXW4GF", "01J7MMWJZXEA0HTZDN9DAZY4BZ"]
      responses:
        '200':
          description: 成功した操作
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        '400':
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Bad Request"
                  message:
                    type: string
                    example: "Invalid request body"
                  statusCode:
                    type: integer
                    example: 400
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Unauthorized"
                  message:
                    type: string
                    example: "Invalid API Key"
                  statusCode:
                    type: integer
                    example: 401
      security:
        - ApiKeyAuth: []
    delete:
      summary: LINEユーザーからタグを削除
      description: LINEユーザーに付与されているタグを削除します。
      operationId: deleteLineUserTags
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                lineUserId:
                  type: string
                  description: |
                    タグを削除するLINEユーザーのID。

                    ※lineUserIdまたはlineUserIdsのいずれか必須
                lineUserIds:
                  type: array
                  items:
                    type: string
                  minItems: 1
                  maxItems: 100
                  description: タグを削除するLINEユーザーのIDのリスト。最大100件まで指定可能。
                tagIds:
                  type: array
                  items:
                    type: string
                  minItems: 1
                  maxItems: 100
                  description: LINEユーザーから削除するタグIDのリスト。最大100件まで指定可能。
              required:
                - tagIds
              example:
                lineUserId: "U1234567890abcdef1234567890abcdef"
                tagIds: ["01J7MMT6VRNWSP1F9VTARXW4GF", "01J7MMWJZXEA0HTZDN9DAZY4BZ"]
      responses:
        '200':
          description: 成功した操作
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        '400':
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Bad Request"
                  message:
                    type: string
                    example: "Invalid request body"
                  statusCode:
                    type: integer
                    example: 400
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Unauthorized"
                  message:
                    type: string
                    example: "Invalid API Key"
                  statusCode:
                    type: integer
                    example: 401
      security:
        - ApiKeyAuth: []

  /tracking-links:
    post:
      summary: 計測リンクを一括作成
      description: |
        計測リンク（tracking links）を一括作成します（1リクエストあたり最大100件）。

        各リンクはトランザクションで作成され、デフォルトのリダイレクト条件（`priority=0`）も自動生成されます。
        リンクごとに独立して作成されるため、1件の失敗は他の件に影響しません（レスポンスに件別の成否が返ります）。

        **一意ルール（違反時は400で、`message`に重複箇所が返ります）:**
        - `analyticsTags`: `eventName`と`tagId`の組み合わせは`analyticsTags`配列内で一意
        - `clickTags`: `tagId`は`clickTags`配列内で一意
        - `defaultParameters`: `sourceParameter`は`defaultParameters`配列内で一意
        - `redirectConditions`: `priority`は`redirectConditions`配列内で一意（1以上・昇順に評価）
        - `redirectConditions[].tags`: `tagId`は同一`redirectConditions`要素の`tags`配列内で一意（要素をまたぐ重複は可）
        - `redirectConditions[].parameters`: `sourceParameter`は同一`redirectConditions`要素の`parameters`配列内で一意（要素をまたぐ重複は可）
      operationId: createTrackingLinks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - trackingAccountId
                - links
              properties:
                trackingAccountId:
                  type: string
                  minLength: 1
                  description: 作成先のtrackingアカウントID（全リンク共通）
                  example: "01HQZX1234567890ABCDEFGHIJ"
                links:
                  type: array
                  minItems: 1
                  maxItems: 100
                  description: 作成するリンクの配列（1〜100件）
                  items:
                    type: object
                    required:
                      - url
                    properties:
                      url:
                        type: string
                        minLength: 1
                        description: 遷移先URL
                        example: "https://example.com/campaign-a"
                      description:
                        type: string
                        minLength: 1
                        description: リンクの説明・表示名
                        example: "キャンペーンA"
                      isConversionEnabled:
                        type: boolean
                        default: true
                        description: "コンバージョン計測の有効化（省略時: true）"
                      openInLineApp:
                        type: boolean
                        default: false
                        description: "LINEアプリ内ブラウザで開くか（省略時: false）"
                      expirationTime:
                        type: integer
                        description: CV有効期限（クリックからコンバージョンまでの有効秒数。クリックからこの秒数を超えたコンバージョンは計測されない）
                      conversionLimit:
                        type: integer
                        description: コンバージョン数の上限
                      lineUserConversionLimit:
                        type: integer
                        description: LINEユーザーごとのコンバージョン数上限
                      analyticsTags:
                        type: array
                        description: アナリティクスタグ（`eventName`と`tagId`の組み合わせは`analyticsTags`配列内で一意）
                        items:
                          type: object
                          required:
                            - eventName
                            - key
                            - value
                            - tagId
                          properties:
                            eventName:
                              type: string
                              minLength: 1
                              description: GA4イベント名
                            key:
                              type: string
                              minLength: 1
                              description: カスタムプロパティのキー
                            value:
                              type: string
                              minLength: 1
                              description: カスタムプロパティの値
                            tagId:
                              type: string
                              minLength: 1
                              description: タグID
                      clickTags:
                        type: array
                        uniqueItems: true
                        description: クリック時に付与するタグ
                        items:
                          type: object
                          required:
                            - tagId
                          properties:
                            tagId:
                              type: string
                              minLength: 1
                              description: タグID（`clickTags`配列内で一意）
                      defaultParameters:
                        type: array
                        description: デフォルトのパラメータ引き継ぎ設定
                        items:
                          type: object
                          required:
                            - sourceParameter
                            - destinationParameter
                          properties:
                            sourceParameter:
                              type: string
                              minLength: 1
                              description: 引き継ぎ元パラメータ（`defaultParameters`配列内で一意）
                            destinationParameter:
                              type: string
                              minLength: 1
                              description: 遷移先URLに付与するクエリパラメータ名
                      redirectConditions:
                        type: array
                        description: タグに応じた分岐リダイレクト条件
                        items:
                          type: object
                          required:
                            - destinationUrl
                            - priority
                            - tagConditionType
                            - tags
                          properties:
                            destinationUrl:
                              type: string
                              minLength: 1
                              description: 条件合致時の遷移先URL
                            priority:
                              type: integer
                              minimum: 1
                              description: 評価優先度（1以上・`redirectConditions`配列内で一意・昇順に評価）
                            tagConditionType:
                              type: string
                              enum: [AND, OR]
                              description: タグ条件の結合方法
                            tags:
                              type: array
                              minItems: 1
                              uniqueItems: true
                              description: 条件判定に使うタグ（1つ以上必須・`tagId`は同一`redirectConditions`要素の`tags`配列内で一意）
                              items:
                                type: object
                                required:
                                  - tagId
                                properties:
                                  tagId:
                                    type: string
                                    minLength: 1
                                    description: タグID
                            parameters:
                              type: array
                              description: 条件合致時のパラメータ引き継ぎ設定
                              items:
                                type: object
                                required:
                                  - sourceParameter
                                  - destinationParameter
                                properties:
                                  sourceParameter:
                                    type: string
                                    minLength: 1
                                    description: 引き継ぎ元パラメータ（同一`redirectConditions`要素の`parameters`配列内で一意）
                                  destinationParameter:
                                    type: string
                                    minLength: 1
                                    description: 遷移先URLに付与するクエリパラメータ名
            examples:
              basicLinks:
                summary: 計測リンクの一括作成
                value:
                  trackingAccountId: "01HQZX1234567890ABCDEFGHIJ"
                  links:
                    - url: "https://example.com/campaign-a"
                      description: "キャンペーンA"
                    - url: "https://example.com/campaign-b"
                      description: "キャンペーンB"
                      isConversionEnabled: false
      responses:
        '201':
          description: |
            作成成功

            一部のリンクだけ失敗した場合もステータスは201で、該当要素が`"ok": false`（`error`にメッセージ）になります。
            `failed`が1以上の場合は`results`を確認してください。
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      total:
                        type: integer
                        description: リクエストされたリンクの総数
                        example: 2
                      succeeded:
                        type: integer
                        description: 作成に成功した件数
                        example: 2
                      failed:
                        type: integer
                        description: 作成に失敗した件数
                        example: 0
                      results:
                        type: array
                        description: リンクごとの作成結果
                        items:
                          type: object
                          properties:
                            index:
                              type: integer
                              description: リクエストのlinks配列内のインデックス
                              example: 0
                            url:
                              type: string
                              example: "https://example.com/campaign-a"
                            ok:
                              type: boolean
                              description: 作成に成功したかどうか
                              example: true
                            trackingLinkId:
                              type: string
                              description: 作成された計測リンクのID（成功時のみ）
                              example: "01HR0A1234567890ABCDEFGHIJ"
                            trackingLinkUrl:
                              type: string
                              description: |
                                エンドユーザーに配布する計測リンクURL（成功時のみ）。

                                リクエストで指定した`url`（遷移先URL）とは別物で、配布するのはこちらです。
                              example: "https://liff.line.me/1234567890-abcdefgh/link/01HR0A1234567890ABCDEFGHIJ"
                            error:
                              type: string
                              description: エラーメッセージ（失敗時のみ）
        '400':
          description: |
            不正なリクエスト

            一意ルール（エンドポイントdescription冒頭の一覧を参照）に違反した場合も400で、
            `message`に重複箇所（例: `links[0]: duplicate priority in redirectConditions: 1`）が返ります。
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Bad Request"
                  message:
                    type: string
                    example: "Invalid request body"
                  statusCode:
                    type: integer
                    example: 400
        '401':
          description: 認証エラー（APIキーが未指定 / 無効）
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Unauthorized"
                  message:
                    type: string
                    example: "Invalid API Key"
                  statusCode:
                    type: integer
                    example: 401
        '403':
          description: APIキーに紐づかないtrackingAccountId / tagIdを指定
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Forbidden"
                  message:
                    type: string
                    example: "Invalid trackingAccountId"
                  statusCode:
                    type: integer
                    example: 403
      security:
        - ApiKeyAuth: []
    get:
      summary: 計測リンクを一括取得
      description: |
        指定したtrackingアカウントの計測リンクを作成日時の降順（新しい順）で一括取得します。

        削除済みの計測リンクは含まれません。
        アナリティクスタグ・クリックタグ・リダイレクト条件などの付随設定は含まれません（リンク本体の項目のみ）。

        全件取得するには、`totalCount`に達するまで`offset`を進めてください。
      operationId: getTrackingLinks
      parameters:
        - name: trackingAccountId
          in: query
          required: true
          schema:
            type: string
            minLength: 1
            description: 取得対象のtrackingアカウントID
          example: "01HQZX1234567890ABCDEFGHIJ"
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
            description: 取得開始位置。デフォルトは0（最初のアイテムから取得）。
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 100
            description: 1ページあたりの取得件数。デフォルトは100件、上限は100件。
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      totalCount:
                        type: integer
                        description: 条件に一致する計測リンクの総数（`offset` / `limit`適用前）
                        example: 120
                      limit:
                        type: integer
                        description: リクエストで指定された1ページあたりの取得件数
                        example: 50
                      offset:
                        type: integer
                        description: リクエストで指定された取得開始位置
                        example: 0
                      items:
                        type: array
                        description: 計測リンクのリスト（作成日時の降順）
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 計測リンクのID
                              example: "01HR0A1234567890ABCDEFGHIJ"
                            trackingAccountId:
                              type: string
                              description: 計測リンクが属するtrackingアカウントのID
                              example: "01HQZX1234567890ABCDEFGHIJ"
                            trackingLinkUrl:
                              type: string
                              description: |
                                エンドユーザーに配布する計測リンクURL。

                                遷移先URL（`url`）とは別物で、配布するのはこちらです。
                              example: "https://liff.line.me/1234567890-abcdefgh/link/01HR0A1234567890ABCDEFGHIJ"
                            url:
                              type: string
                              description: 遷移先URL
                              example: "https://example.com/campaign-a"
                            description:
                              type: string
                              nullable: true
                              description: リンクの説明・表示名
                              example: "キャンペーンA"
                            isConversionEnabled:
                              type: boolean
                              description: コンバージョン計測が有効かどうか
                              example: true
                            openInLineApp:
                              type: boolean
                              description: LINEアプリ内ブラウザで開くかどうか
                              example: false
                            expirationTime:
                              type: integer
                              nullable: true
                              description: CV有効期限（クリックからコンバージョンまでの有効秒数）
                              example: null
                            conversionLimit:
                              type: integer
                              nullable: true
                              description: コンバージョン数の上限
                              example: null
                            lineUserConversionLimit:
                              type: integer
                              nullable: true
                              description: LINEユーザーごとのコンバージョン数上限
                              example: null
                            isLineUidEnabled:
                              type: boolean
                              description: 遷移先URLへのLINE UID引き継ぎが有効かどうか
                              example: false
                            lineUidParameterName:
                              type: string
                              nullable: true
                              description: LINE UIDを引き継ぐクエリパラメータ名
                              example: null
                            isA8Enabled:
                              type: boolean
                              description: A8連携が有効かどうか
                              example: false
                            createdAt:
                              type: string
                              format: date-time
                              description: 作成日時（ISO 8601形式）
                              example: "2026-07-30T10:00:00.000Z"
                            updatedAt:
                              type: string
                              format: date-time
                              description: 更新日時（ISO 8601形式）
                              example: "2026-07-30T10:00:00.000Z"
        '400':
          description: |
            不正なリクエスト

            `trackingAccountId`の欠落、`offset` / `limit`が数値でない場合に返ります。
            `limit`が1〜100の範囲外の場合は`message`が`limit must be between 1 and 100`になります。
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Bad Request"
                  message:
                    type: string
                    example: "Invalid query parameters"
                  statusCode:
                    type: integer
                    example: 400
        '401':
          description: 認証エラー（APIキーが未指定 / 無効）
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Unauthorized"
                  message:
                    type: string
                    example: "Invalid API Key"
                  statusCode:
                    type: integer
                    example: 401
        '403':
          description: APIキーに紐づかないtrackingAccountIdを指定
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Forbidden"
                  message:
                    type: string
                    example: "Invalid trackingAccountId"
                  statusCode:
                    type: integer
                    example: 403
      security:
        - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-NINE-API-Key
