openapi: 3.0.0
info:
  title: N-INE Public API
  version: 1.0.0
  description: N-INE クライアント向け公開API
servers:
  - url: https://api.app.n-ine.com/v1
paths:
  /line-user-tags:
    post:
      summary: LINEユーザーにタグを付与
      description: LINEユーザーにタグを付与します。
      operationId: tagLineUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                lineUserId:
                  type: string
                  description: タグを付与するLINEユーザーのID。
                tagIds:
                  type: array
                  items:
                    type: string
                  description: LINEユーザーに付与するタグIDのリスト。最大100件まで指定可能。
                  maxItems: 100
              required:
                - lineUserId
                - tagIds
      responses:
        '200':
          description: 成功した操作
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        '400':
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Bad Request"
                  message:
                    type: string
                    example: "Invalid request body"
                  statusCode:
                    type: integer
                    example: 400
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Unauthorized"
                  message:
                    type: string
                    example: "Invalid API Key"
                  statusCode:
                    type: integer
                    example: 401
      security:
        - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-NINE-API-Key